<header>
    <p class="site_title">
        Roberto García  <span> - Desarrollo Web</span>
    </p>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="proyectos.html">Proyectos Web</a></li>
            <li><a href="seo.html">Lab SEO</a></li>
            <li><a href="geo-llms.html">Lab GEO</a></li>
            <li><a href="reconstrucciones.html">Reconstrucciones</a></li>
            <li><a href="sobre-mi.html">Sobre mí</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>